body {
  font-family: Arial, sans-serif;
  background-color: #222;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 400px;
  min-width: 200px;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}

.button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #627eea;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 90%;
  text-align: center;
  z-index: 2; /* Asegúrate de que el botón esté por encima de otros elementos */
  touch-action: manipulation; /* Añadir touch-action */
}

.button:hover {
  background-color: #5569de;
}

.mnemonic-container {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #fff;
  width: 90%;
}

.mnemonic-text {
  margin-bottom: 10px;
  word-break: break-word;
}

.status-text {
  color: green;
}

.status-text.invalid {
  color: red;
}

.copied-text {
  color: green;
}

.logo {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.logo img {
  width: 100px;
  height: auto;
}

.icon {
  width: 1em;
  height: auto;
}
